name: Morning daily scheduler yesterday tweet in X (Twitter) at 09h UTC

on:
  schedule:
    - cron: '30 07 * * *'  # Running at 09:30 CEST (Spanish summer time) which is 07:30 UTC

jobs:
  fetch_weather:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
            python-version: '3.12'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Unit Tests
        run: python ./src/weather-station/test/run_unit_tests.py
  
      - name: Run morning daily scheduler script.
        env:
            STATION_ID: ${{ secrets.WEATHER_UNDERGROUND_STATION_ID }}
            API_KEY: ${{ secrets.WEATHER_UNDERGROUND_API_KEY }}
        run: python ./src/weather-station/morning_daily_scheduler.py

      - name: Run morning daily scheduler tweet in X (Twitter) script.
        env:
            WEATHER_UNDERGROUND_STATION_ID: ${{ secrets.WEATHER_UNDERGROUND_STATION_ID }}
            WEATHER_UNDERGROUND_API_KEY: ${{ secrets.WEATHER_UNDERGROUND_API_KEY }}
            X_API_KEY: ${{ secrets.X_API_KEY }}
            X_API_KEY_SECRET: ${{ secrets.X_API_KEY_SECRET }}
            X_ACCESS_TOKEN: ${{ secrets.X_ACCESS_TOKEN }}
            X_ACCESS_SECRET_TOKEN: ${{ secrets.X_ACCESS_SECRET_TOKEN }}
        run: python ./src/weather-station/post_morning_daily_tweet_in_x.py        